.list-group-item:last-child, .list-group-item:first-child {
  border-radius: 0;
}

.list-group-item {
  background: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-weight: bold;
}

.list-group-item.active:hover {
  background-color: #116cd6;
}

.row-file, .row-event-data, .row-listener {
  width: 100%;
}

.row-module {
  min-width: 150px;
  max-width: 150px;
}

.row-event-name {
  min-width: 300px;
  max-width: 300px;
}

.row-size, .row-event-listener-count {
  min-width: 70px;
  max-width: 70px;
}

.disclosure-arrow {
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background-color: #666;
  float: left;
  -webkit-mask-image: url(../vendor/entypo/triangle-right.svg);
}

.active .disclosure-arrow {
  border-left-color: #fff;
}

.disclosure-arrow-expanded {
  -webkit-mask-image: url(../vendor/entypo/triangle-down.svg);
}

.active .disclosure-arrow,
.active .ipc-icon {
  background-color: white;
}

.table-striped > tbody > tr.active,
.table-striped > tbody > tr.active .row-directory,
.table-striped > tbody > tr.active .listener-count {
  background-color: #116cd6;
  color: #fff;
}

table:focus {
  outline: 0 none;
}

.table-scroller {
  display: block;
  overflow: scroll;
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 0;
  right: 0;
}

.row-directory, .listener-count {
  color: #bbb;
  display: inline-block;
  margin-left: 5px;
}

.row-directory:before {
  content: '-';
  padding-right: 5px;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: black;
  float: left;
}

.row-listener-event-name {
  padding-left: 30px;
}

.row-listener-event-code {
  padding-left: 45px;
}

.active .sidebar-icon {
  background-color: white;
}

.sidebar-icon-graph {
  -webkit-mask-image: url(../vendor/entypo/flow-tree.svg);
}

.sidebar-icon-events {
  -webkit-mask-image: url(../vendor/entypo/sound.svg);
}

.sidebar-icon-ipc {
  -webkit-mask-image: url(../vendor/entypo/swap.svg);
}

.ipc-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #666;
  float: left;
}

.ipc-icon-sent {
  -webkit-mask-image: url(../vendor/entypo/arrow-up.svg);
}

.ipc-icon-received {
  -webkit-mask-image: url(../vendor/entypo/arrow-down.svg);
}

.ipc-icon-sync {
  -webkit-mask-image: url(../vendor/entypo/controller-paus.svg);
}

code {
  color: inherit;
  background-color: inherit;
}

.search-box {
  width: 250px;
  min-height: 24px;
  max-height: 24px;
}

.search-box:focus {
  box-shadow: 1px 1px 0 #6db3fd, -1px -1px 0 #6db3fd, -1px 1px 0 #6db3fd, 1px -1px 0 #6db3fd;
}
